.Order {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #eee;
    margin: 10px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.Ingredients {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 8px;
    border: 1px solid #eee;
    padding: 5px;
}

@media ( min-width: 700px ){
    .Order {
        width: 600px;
    }
}