.ContactData {
    margin: 20px auto;
    text-align: center;
    box-shadow: 0px 2px 3px #ccc;
    border: 1px solid #ddd;
    width: 80%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
}

.Input {
    text-align: center;
    display: block;
}

@media (min-width: 600px){
    .ContactData {
        width: 500px;
    }
}